p{
	text-align:justify;
}

matilda_functionality a{
	text-decoration:none;
}

more_config_choice a{
	text-decoration:none;
	display:inline-block;
}

.left_title{
	font-size: .9375rem;
    line-height: 1.5rem;
    letter-spacing: .125rem;
    font-weight: 700;
    text-transform: uppercase;
/* 	margin-left:240px; */
/* padding-left: .5rem; */
	float:left;
}

.left_title::after {
    margin-top: 3px !important;
    margin-bottom:12px;
    width: 80px;
    border-bottom: 2px solid #000;
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.no_underline{
	text-decoration:none !important;
	color: inherit;
}
h1.central_heading{
text-align: center;	
text-transform: uppercase;
text-decoration: underline;
}

img.list_img{
	border-radius: 8px;
	width:100%;
	height:250px;
}

.hidden_div{
	display:none;
}

.display_div{
	display:inline-block;
}

.twocolumnform_firstcolumn{
	width:47%;
	float:left;
	clear:both;
	margin-right:5% !important;
}

.twocolumnform_secondcolumn{
	width:47%;
	float:left;
}
.threecolumndiv{
	width:33%;
	float:left;
}
.algoandfeature_div{
	height: 210px; 
	overflow-y: auto !important;
}

.full_available_width{
	width:100%;
}

#algorithms_div{
	overflow: hidden;
}
#advanced_settings label{
	margin-bottom: 10px;
}

#features_div{
	overflow: hidden;
}

#library_problems_div{
	width:100%;
	overflow:hidden;
}
.labels{
	margin-bottom:10px !important;
}

#custom_problem_fieldset{
	border: 3px solid lightgray;
	padding: 5px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.fullwidth_input{
	width:100%;
}

.tooltip {
    position: relative;
    display: inline-block;
/*     border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #0c304a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

ul.verticalRadios {
  list-style-type: none !important;
}

.bordered_fieldset{
	border:1px solid lightgray !important; 
	padding: 1em !important;
}

.bordered_legend{
	background-color: #0c304a; color: #fff; padding: 3px 6px;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.error{
	color: red;
}


/* #close-execution{ */
/* /*     color: #d3d7cf; */ */
/*     float: right; */
/*     font-size: 28px; */
/*     font-weight: bold; */
/* } */

#close-execution:hover,
#close-execution:focus {
/*     color: #000; */
    text-decoration: none;
    cursor: pointer;
}


.progress{
  height: 40px;
  text-align: center;
  top: 50%;
  left: 50%;
/*   margin: -20px 0 0 -50px; */
	margin-top: 30px;
}
.progress span{
  transition: all 500ms ease;
  background: #4A72DA;
  box-shadow: 1px 2px 3px #999;
  height: 10px;
  width: 10px;  
  display: inline-block;
  border-radius: 10px;
  animation: wave 2s ease  infinite;
}  

.progress span:nth-child(1){  animation-delay: 0; }
.progress span:nth-child(2){  animation-delay: 100ms; }
.progress span:nth-child(3){  animation-delay: 200ms; }
.progress span:nth-child(4){  animation-delay: 300ms; }
.progress span:nth-child(5){  animation-delay: 400ms; }
.progress span:nth-child(6){  animation-delay: 500ms; }
.progress span:nth-child(7){  animation-delay: 600ms; }
.progress span:nth-child(8){  animation-delay: 700ms; }

@keyframes wave{
  0%, 40%, 100% { 
    transform: translate(0, 0);
    background-color: #4A72DA;    
  }
  10% { 
    transform: translate(0, -15px); 
    background-color: red;    
  }  
}

.nextto_header{
	margin-top: 20px;
}
.tooltip img{
	margin-left: 5px;
}
.inline_h2{
	font-weight: 700;
    font-size: .9375rem;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    display:inline;
}
#diversity_div h2{
	display:inline;
}
.below_header_div{
	margin-top: 15px;
	text-align: justify;
}
.shell-wrap {
  width: 800px;
  margin: 50px auto 100px auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.shell-top-bar {
/*   text-align: center; */
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 0.85em;
  border: 1px solid #CCCCCC;
  border-bottom: none;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.shell-body {
  margin: 0;
  padding-left: 3px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;
  text-align:left;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: silver 4px solid;
  overflow-y:scroll; 
  height:600px; 
}


.log_header,
.log_header tr,
.log_header tbody td,
.log_header thead th,
.log_header tfoot th {
	border: none !important;
	margin: 0 !important;
	}
	
 .full_width_table{
	width: 100%;
	}

#users_list{
	border-collapse: collapse;
  width: 100%;
}	

#users_list tr:hover {background-color:#f5f5f5;}

#performance_table {
  border-collapse: collapse;
  width: 800px;
}

#performance_table th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#performance_table tr:hover {background-color:#f5f5f5;}

#graph_container{
	margin-bottom:100px;
	width: 100%;
	text-align: center;
	display:none;
	display: inline-block;
}

.metric_description {
    max-width: 100% !important; 
    resize: none;
}
#error_container{
	text-align: center;
	font-weight: bold;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#loader{
	position: absolute;
	top: 25%;
}

.highcharts_graphcontainer{
	width: 800px; 
	height: 850px; 
	margin-top: 50px;
}
#main_container{
	text-align: center;
}
#download_all{
	float: right;
}
.features_list{
	margin-left: auto;
}
.features_list ul li {
    display: block;
    width: 25%;
    float: left;
}
.problem_container{
	margin-bottom: 50px;
	max-width: 43.75rem;
	    margin: 0 auto;
}
#footprint_wrapper{
	text-align: center;
}
#graph_header h2{
	text-align: center;
}
#feature_selector_container{
	text-align: left;
}
#feature_select{
	width: 250px;
}
#graph_features{
	width: 45%;
	float: left;
}
#bulk_downloads{
	width: 55%;
	float: left;
}
.bulk_downloads_buttons{
	float: left;
	padding-right: 10px;
}
#centeralign_header h1{
	text-align: center !important;
	margin-bottom: 10px;
}
.buttonlike_link {
  font: normal 1em Arial;
  text-decoration: none !important;
  background-color: #EEEEEE;
  color: #000000;
  padding: 2px 6px 3px 6px;
  border-radius: 4px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.listing_image{
	max-width: none;
    margin-bottom: .50rem;
    background-position: 70%;
    background-size: cover;
    padding-top: 100%;
}
.detail{
	color: blue !important;
}
#home_main_container{
	text-align: center;
	font-size: 16px;
}
#content       
{
    width: 100%;
    text-align: left;
    margin: 0px auto; /*auto centers the container */
    padding: 3.84615384615385%; /* 25/650 */
}
/*CSS3 multiple columns.*/
/* Get em size for colums: 184/16 */   
.columns
{   
    -moz-column-width: 11.5em; /* Firefox */
    -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
    column-width: 11.5em;
}
/*remove standard list and bullet formatting from ul*/
.columns ul
{
    margin: 0;
    padding: 0;
    list-style-type: none !important;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child
{
    margin-top:0px;
}
#matilda_header{
	min-height:100px!important;
/* 	height:420px!important; */
/* 	background-color: white; */
/* 	background-size: contain; */
	background-repeat: no-repeat;
/* 	border: 5px solid green; */
}
#matilda_header h1{
	color: #0c304a;
	margin-top: 80px;
}
.border{
	border: 5px solid blue;
}
.images_container{
	max-width: 70rem; display: inline-block;
}
.image_container{
width: 47%; float: left; margin: 10px; position: relative;
}

.homepage_img{
	border-radius: 25px; 
	opacity: 1;
}
.homepage_img:hover{
	opacity: .5;
}
.foreground_text_div{
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	border: 1px solid black; 
	background: rgb(0,0,0, 0.6);
	opacity: 0.6; 
	color: white; 
/* 	border-radius: 25px; */
	width:100%;
}

.homapage_buttons{
margin-bottom: 40px;	
}

.homepage_button{
	border: 4px solid white; 
	width: 47.5%; 
	min-width: 500px; 
	float: left; 
	margin: 10px;
	border-radius: 10px;
	background: rgb(71,57,29, 0.7);
}
.homepage_button:hover{
/* 	background: rgb(36,34,66); */
/* 	#242242 */
background-color: #0076de;
color: white;
}
.homepage_button2{
	border: 4px solid white; 
	width: 100%;
	min-width: 500px; 
/* 	float: left;  */
	margin-bottom: 30px;
	border-radius: 10px;
	background:rgb(0,0,0);
}
.homepage_button2:hover{
	color:white;
	background-color: #304c64;
}
